<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="one-forth d-flex " data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <span class="subheading">Hi 👋</span>
                        <h1 class="mb-4 mt-3">I'm <span>Marc</span></h1>
                        <h2 class="mb-4">Backend developer</h2>
                        <p>
                            <a href="#contact-section" class="btn btn-primary py-3 px-4" style="margin: 5px;">
                                Hire me
                            </a>
                            <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">
                                My works
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section">
                        <h1 class="big" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                            data-aos-duration="900">About</h1>
                        <h2 class="mb-4">About Me</h2>
                        <p>
                            Currently, I am finishing DAM (Multiplatform Application Development) and working in <a
                                href="https://honei.app" style="color: yellow;">honei</a>,
                            a Startup winner of the Seedrocket award and nominated for the best Startup 2022 by SIL
                            Barcelona.
                            <br>
                            I consider myself an insatiable person with a desire to learn new technologies in a
                            self-taught way. I am passionate about creating programs that help improve people's
                            lives.
                        </p>
                        <p>
                            Due to my attitude and the experience developed during
                            all these years, I define myself as a person committed and constant with the projects
                            that I carry out, with a predisposition to learn new skills and a great facility to face
                            situations under control.
                        </p>
                        <p>
                            I like to face new challenges, both individually and as a team,
                            being a person with many concerns and very resourceful in any aspect, seeking
                            optimization in the development itself.
                        </p>
                        <ul class="about-info mt-4 px-md-0 px-2">
                            <li class="d-flex"><span>Name:</span> <span>Marc Morales</span></li>
                            <li class="d-flex"><span>Date of birth:</span> <span>March 20, 1987</span></li>
                            <li class="d-flex"><span>Address:</span> <span>Les Franqueses del Vallès, Spain</span></li>
                            <li class="d-flex"><span>Email:</span> <span>moralesgarciamarc@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap d-flex mt-md-3">
                    <div class="text">
                        <p>
                            <a style="margin: 5px;" download="CV_Marc-Morales_eng-version"
                                href="/src/assets/download/Marc_Morales_CV_eng.pdf"
                                class="btn btn-primary py-3 px-3">Download English CV
                            </a>

                            <a style="margin: 5px;" download="CV_Marc-Morales_eng-version"
                                href="/src/assets/download/Marc_Morales_CV_esp.pdf"
                                class="btn btn-primary py-3 px-3">Download Spanish CV
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                    data-aos-duration="900">Skills</h1>
                <h2 class="mb-4">Skills</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Computer systems</span>
                    <p class="mt-4">
                        <li>Windows 7, windows 10, windows server</li>
                        <li>Debian/Ubuntu, ubuntu server </li>
                        <li>Network operating systems</li>
                        <li>Server management</li>
                    </p>
                </div>

                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Tools</span>
                    <p class="mt-4">
                        <li>Git</li>
                        <li>Visual Studio</li>
                        <li>Postman</li>
                        <li>Figma</li>
                        <li>Notion</li>
                    </p>
                </div>

                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Programing languages</span>
                    <p class="mt-4">
                        <li>Java</li>
                        <li>Javascript</li>
                        <li>Typescript</li>
                        <li>PHP</li>
                        <li>C#</li>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Markup languages</span>
                    <p class="mt-4">
                        <li>HTML</li>
                        <li>JSON</li>
                        <li>XML</li>
                        <li>XSLT</li>
                        <li>RSS</li>
                    </p>
                </div>
                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Web & frameworks</span>
                    <p class="mt-4">
                        <li>CSS</li>
                        <li>Angular</li>
                        <li>Bootstrap</li>
                        <li>Materialize</li>
                        <li>.NET core 3.1</li>
                        <li>Entity Framework</li>
                    </p>
                </div>
                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Database</span>
                    <p class="mt-4">
                        <li>MySQL</li>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="ftco-section" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center">
                <h1 class="big big-2" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                    data-aos-duration="900">Projects</h1>
                <h2 class="mb-4">My Projects</h2>

                <p data-aos="zoom-in" data-aos-offset="300" data-aos-easing="ease-in-sine" data-aos-duration="900">
                    A little progress every day adds up to big results.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/Spike_main.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Spike Valorant</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                Scale replica of the Spike created using an ESP32 microcontroller. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.spike.title, projects.spike.description, projects.spike.images, projects.spike.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-arduino-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-c-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:70%;">
                                progress 70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/booking1.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Booking webapp</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                Welcome to booking platform, a personal creation developed using Angular. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.booking.title, projects.booking.description, projects.booking.images, projects.booking.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-angularjs-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-javascript-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-typescript-plain"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-nodejs-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-mongodb-plain-wordmark colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-vscode-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-bootstrap-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:95%;">
                                progress 95%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/handrelease6.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Handrelease for keyboard</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                Introducing a wrist rest crafted with Arduino, simplifying PC login via Bluetooth. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.handrelease.title, projects.handrelease.description, projects.handrelease.images, projects.handrelease.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-arduino-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-c-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:100%;">
                                progress 100%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/turno.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Control of shifts</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                This versatile application offers three key sections: Doctor, Patient, and Specialty.
                                <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.medical.title, projects.medical.description, projects.medical.images, projects.medical.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-csharp-plain"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-jquery-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-mysql-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-dotnetcore-plain"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-vscode-plain colored"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:100%;">
                                progress 100%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/crud_php1.PNG);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>CRUD PHP</h3>
                        <span>

                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                PHP CRUD project—a hands-on learning experience that delves into the world of web
                                development. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.phpcrud.title, projects.phpcrud.description, projects.phpcrud.images, projects.phpcrud.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-php-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-mysql-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-apache-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-vscode-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-bootstrap-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:100%;">
                                progress 100%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/CSR.JPG);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Android game 🏁 Clio Sport Race 🏁</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                Introducing my Android Studio game 2D top-down view game that puts
                                you in the driver's seat of a Renault Clio Sport 182CV. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.cliorace.title, projects.cliorace.description, projects.cliorace.images, projects.cliorace.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-androidstudio-plain"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-java-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-intellij-plain"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;">
                                progress 90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/detection-camera.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Object detection</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                A combination of hardware and software using an ESP32-CAM module with object
                                recognition powered by OpenCV. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.objectdetection.title, projects.objectdetection.description, projects.objectdetection.images, projects.objectdetection.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-arduino-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-python-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-c-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-opencv-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:75%;">
                                progress 75%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/Password_manager.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3>Password manager</h3>
                        <span>
                            <p class="mb-0 text-center"
                                style="font-size: 6px; padding-bottom: 10px; user-select: none;">
                                Password Manager with CRUD functionality that currently stores platform, username, and
                                password. <br>
                                <a class="text-truncate-toggle" style="cursor: pointer; color: #ffc107;"
                                    (click)="openModal(projects.passmanagement.title, projects.passmanagement.description, projects.passmanagement.images, projects.passmanagement.link)">
                                    Read more
                                </a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-java-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-mysql-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;">
                                progress 90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" id="say-section">

    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                    data-aos-duration="900">People say</h1>
                <h2 class="mb-4">What people say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center d-flex ftco-animate">

                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">
                        <h3><img src="assets/images/bernat-cto.jpeg" alt="">Bernat Relats</h3>
                        <h4>Founder & CTO at honei</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center d-flex ftco-animate">
                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">
                        <h3><img src="assets/images/sergi-ceo.jpeg" alt="">
                            Sergi Borja</h3>
                        <h4>Founder & CTO at honei</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center d-flex ftco-animate">
                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">
                        <h3><img style="" src="assets/images/noemi-cpl.jpeg" alt="">Noemi Rivero</h3>
                        <h4>Admin Assistant at Salerm Cosmetics & Couple</h4>
                    </div>
                </div>
            </div>

            <div class="col-md-6 text-center d-flex ftco-animate">
                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">

                        <h3><img src="" alt="">Jodie</h3>
                        <h4>Furry friend 🪽</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>