<section class="ftco-about img ftco-section ftco-no-pb" id="about-section">
    <div class="container">
        <div class="row d-flex">
            <div class="col-md-6 col-lg-5 d-flex">
                <div class="one-forth d-flex " data-scrollax=" properties: { translateY: '70%' }">
                    <div class="text">
                        <span class="subheading">Hi 👋</span>
                        <h1 class="mb-4 mt-3">I'm <span>Marc</span></h1>
                        <h2 class="mb-4">Backend developer</h2>
                        <p>
                            <a href="#contact-section" class="btn btn-primary py-3 px-4" style="margin: 5px;">
                                Hire me
                            </a>
                            <a href="#projects-section" class="btn btn-white btn-outline-white py-3 px-4">
                                My works
                            </a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-7 pl-lg-5 pb-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section">
                        <h1 class="big" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                        data-aos-duration="900">About</h1>
                        <h2 class="mb-4">About Me</h2>
                        <p>
                            Currently, I am finishing DAM (Multiplatform Application Development) and working in <a
                                href="https://honei.app" style="color: yellow;">honei</a>,
                            a Startup winner of the Seedrocket award and nominated for the best Startup 2022 by SIL
                            Barcelona.
                            <br>
                            I consider myself an insatiable person with a desire to learn new technologies in a
                            self-taught way. I am passionate about creating programs that help improve people's
                            lives.
                        </p>
                        <p>
                            Due to my attitude and the experience developed during
                            all these years, I define myself as a person committed and constant with the projects
                            that I carry out, with a predisposition to learn new skills and a great facility to face
                            situations under control.
                        </p>
                        <p>
                            I like to face new challenges, both individually and as a team,
                            being a person with many concerns and very resourceful in any aspect, seeking
                            optimization in the development itself.
                        </p>
                        <ul class="about-info mt-4 px-md-0 px-2">
                            <li class="d-flex"><span>Name:</span> <span>Marc Morales</span></li>
                            <li class="d-flex"><span>Date of birth:</span> <span>March 20, 1987</span></li>
                            <li class="d-flex"><span>Address:</span> <span>Les Franqueses del Vallès, Spain</span></li>
                            <li class="d-flex"><span>Email:</span> <span>moralesgarciamarc@gmail.com</span></li>
                        </ul>
                    </div>
                </div>
                <div class="counter-wrap d-flex mt-md-3">
                    <div class="text">
                        <p>
                            <a style="margin: 5px;" download="CV_Marc-Morales_eng-version"
                                href="/src/assets/download/Marc_Morales_CV_eng.pdf"
                                class="btn btn-primary py-3 px-3">Download English CV
                            </a>

                            <a style="margin: 5px;" download="CV_Marc-Morales_eng-version"
                                href="/src/assets/download/Marc_Morales_CV_esp.pdf"
                                class="btn btn-primary py-3 px-3">Download Spanish CV
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="ftco-section ftco-no-pb" id="resume-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-10 heading-section text-center ftco-animate">
                <h1 class="big big-2" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                data-aos-duration="900">Skills</h1>
                <h2 class="mb-4">Skills</h2>

            </div>
        </div>
        <div class="row">
            <div class="col-md-6">

                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Computer systems</span>
                    <p class="mt-4">
                        <li>Windows 7, windows 10, windows server</li>
                        <li>Debian/Ubuntu, ubuntu server </li>
                        <li>Network operating systems</li>
                        <li>Server management</li>
                    </p>
                </div>

                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Tools</span>
                    <p class="mt-4">
                        <li>Git</li>
                        <li>Visual Studio</li>
                        <li>Postman</li>
                        <li>Figma</li>
                        <li>Notion</li>
                    </p>
                </div>

                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Programing languages</span>
                    <p class="mt-4">
                        <li>Java</li>
                        <li>Javascript</li>
                        <li>Typescript</li>
                        <li>PHP</li>
                        <li>C#</li>
                    </p>
                </div>
            </div>

            <div class="col-md-6">
                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Markup languages</span>
                    <p class="mt-4">
                        <li>HTML</li>
                        <li>Json</li>
                        <li>XML</li>
                        <li>XSLT</li>
                        <li>RSS</li>
                    </p>
                </div>
                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Web & frameworks</span>
                    <p class="mt-4">
                        <li>CSS</li>
                        <li>Angular</li>
                        <li>Bootstrap</li>
                        <li>Materialize</li>
                        <li>.NET core 3.1</li>
                        <li>Entity Framework</li>
                    </p>
                </div>
                <div class="resume-wrap" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="600">
                    <span class="date">Database</span>
                    <p class="mt-4">
                        <li>MySQL</li>
                        <li>PostgreSQL</li>
                        <li>MongoDB</li>
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="ftco-section" id="projects-section">
    <div class="container">
        <div class="row justify-content-center pb-5">
            <div class="col-md-12 heading-section text-center">
                <h1 class="big big-2" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                data-aos-duration="900">Projects</h1>
                <h2 class="mb-4">My Projects</h2>

                <p data-aos="zoom-in" data-aos-offset="200" data-aos-easing="ease-in-sine"
                    data-aos-duration="900">
                    A little progress every day adds up to big results.
                </p>

            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/Spike_main.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Spike Valorant</a></h3>
                        <span>
                            <!-- <p class="overflow-hidden" style="font-size: 6px;">
                               Introducing a meticulously crafted scale model inspired by the exhilarating online game
                                Valorant, developed by Riot Games. This project delves into the heart of Valorant's
                                gameplay dynamics, where defenders aim to defuse the spike while attackers seek to plant
                                it.
                                <br> 
                                This immersive experience is brought to life using an ESP32 microcontroller,
                                thoughtfully programmed within the Arduino IDE environment. What sets this project apart
                                is the seamless integration with a dedicated mobile app, allowing you to remotely
                                activate and defuse the spike with the touch of your fingertips.
                              <br>
                                As a passionate enthusiast of Valorant, I embarked on this endeavor to encapsulate the
                                essence of the game in a tangible, interactive form. This scale model not only showcases
                                my technical prowess in microcontroller programming but also highlights my dedication to
                                recreating the pulse-pounding action of Valorant in a unique and captivating way.
                                Explore this project in my portfolio and witness the fusion of gaming and technology
                                come to life. 
                            </p> -->
                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                This immersive experience is brought to life using an ESP32 microcontroller,
                                thoughtfully programmed within the Arduino IDE environment. <a href="#"
                                    class="text-truncate-toggle" data-toggle="collapse" data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div id="readMoreText" class="collapse">
                                What sets this project apart
                                is the seamless integration with a dedicated mobile app, allowing you to remotely
                                activate and defuse the spike with the touch of your fingertips.
                                <br>
                                As a passionate enthusiast of Valorant, I embarked on this endeavor to encapsulate the
                                essence of the game in a tangible, interactive form. This scale model not only showcases
                                my technical prowess in microcontroller programming but also highlights my dedication to
                                recreating the pulse-pounding action of Valorant in a unique and captivating way.
                                Explore this project in my portfolio and witness the fusion of gaming and technology
                                come to life.
                            </div>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-arduino-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-c-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:70%;">
                                progress 70%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/booking1.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Booking webapp</a></h3>
                        <span>
                            <!-- <p>
                            Welcome to booking platform, a personal creation developed using Angular, JavaScript,
                            TypeScript, Node.js, and MongoDB. This platform is designed to streamline your booking
                            experience seamlessly.
                            <br>
                            <strong>Key Features:</strong>

                            Easy Booking: Making a reservation is a breeze. Simply navigate through my user-friendly
                            interface and select your desired dates and services.
                            <br>
                            Secure Database: All your reservations are securely stored in my MongoDB database, ensuring
                            maximum privacy and data protection.
                            <br>
                            Try Confirmation: I invite you to try how our instant confirmation system works. Make a
                            reservation and experience firsthand the confirmation email that will arrive in your inbox.
                            <br>
                            Don't wait any longer to discover the convenience of making a reservation on my platform.
                            Whether it's booking a table at your favorite restaurant, scheduling an appointment at a
                            spa, or securing a spot at a popular event, my website is your go-to destination.
                            <br>
                            Why wait? Try it now and make your reservation today! Explore the future of hassle-free
                            bookings!
                        </p> -->
                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                Welcome to booking platform, a personal creation developed using Angular. <a href="#"
                                    class="text-truncate-toggle" data-toggle="collapse" data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-angularjs-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-javascript-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-typescript-plain"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-nodejs-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-mongodb-plain-wordmark colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-vscode-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-3 text-center">
                                    <i style="font-size: 30px;" class="devicon-bootstrap-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:95%;">
                                progress 95%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/handrelease6.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Handrelease for keyboard</a></h3>
                        <span>
                            <!-- <p>
                                Introducing a wrist rest crafted with Arduino, simplifying PC login via Bluetooth.
                                <br>
                                <strong>Key Features:</strong>

                                Bluetooth Functionality: This wrist rest communicates with your PC through Bluetooth,
                                making login a straightforward process.
                                <br>
                                Quick Login: It allows you to start Windows using RFID RC522, whether with a card,
                                keychain, or your mobile phone.
                                <br>
                                OLED Display: The OLED screen displays a personalized welcome message when you power up
                                your PC.
                                <br>
                                Ergonomic Design: Its ergonomic design ensures comfort while working or gaming on your
                                computer.
                                <br>
                                Coffee Touch: The base is 3D-printed, coated with epoxy resin, and adorned with a
                                coffee-inspired touch. Sanded and polished for enhanced aesthetics and finish.
                                <br>
                                This wrist rest is the perfect blend of technology and comfort, ideal for tech
                                enthusiasts and coffee lovers alike.
                                <br>
                                Make your workspace smarter and more comfortable with this innovative addition!
                            </p> -->

                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                Introducing a wrist rest crafted with Arduino, simplifying PC login via Bluetooth.<a
                                    href="#" class="text-truncate-toggle" data-toggle="collapse"
                                    data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-arduino-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-c-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:100%;">
                                progress 100%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/no-disponible.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Control of shifts</a></h3>
                        <span>
                            <!-- <p>
                                This versatile application offers three key sections: Doctor, Patient, and Specialty,
                                making it easy to manage appointments, track patient-doctor relationships, and
                                categorize medical specialties.

                                <strong>Key Features:</strong>
                                Effortless Scheduling: With this app, you can effortlessly assign specific days and
                                times to patients while linking them to their respective doctors. This ensures efficient
                                and organized appointment management.
                                <br>
                                Doctor-Patient Relationship: Establish a clear and organized connection between patients
                                and doctors, ensuring seamless communication and coordination of medical services.
                                <br>
                                Specialty Management: Categorize doctors based on their medical expertise, whether
                                they're surgeons, dentists, dermatologists, or other specialists. This simplifies the
                                process of finding the right healthcare provider.
                                <br>
                                Robust Database: The application leverages the power of SQL Server, providing a robust
                                and secure database environment for storing critical medical and scheduling data.
                                <br>
                                Interactive Calendar: Enhance your scheduling experience with the FullCalendar plugin,
                                powered by jQuery and Ajax. Easily view, edit, and manage appointments in a
                                user-friendly calendar interface.
                                <br>
                                Security at Its Best: The app prioritizes security with the implementation of
                                AntiForgery Token, safeguarding sensitive patient and medical information.
                                <br>
                                This agenda management app is your all-in-one solution for efficient appointment
                                booking, patient-doctor relationship management, and specialty categorization. Whether
                                you're a healthcare provider or a patient, streamline your scheduling needs with ease
                                and precision.
                                <br>
                                Experience the future of medical appointment management.
                            </p> -->

                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                This versatile application offers three key sections: Doctor, Patient, and Specialty <a
                                    href="#" class="text-truncate-toggle" data-toggle="collapse"
                                    data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-csharp-plain"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-jquery-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-mysql-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-dotnetcore-plain"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-vscode-plain colored"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:100%;">
                                progress 100%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/no-disponible.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">CRUD PHP</a></h3>
                        <span>

                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                Welcome to booking platform, a personal creation developed using Angular. <a href="#"
                                    class="text-truncate-toggle" data-toggle="collapse" data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-php-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-mysql-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-apache-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-vscode-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-bootstrap-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:100%;">
                                progress 100%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/CSR.JPG);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Android game (Clio Sport Race 🏁)</a></h3>
                        <span>

                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                Welcome to booking platform, a personal creation developed using Angular. <a href="#"
                                    class="text-truncate-toggle" data-toggle="collapse" data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-androidstudio-plain"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-intellij-plain"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;">
                                progress 90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-8">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/detection-camera.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Object detection</a></h3>
                        <span>

                            <p class="mb-0 text-center" style="font-size: 6px; padding-bottom: 10px;">
                                Welcome to booking platform, a personal creation developed using Angular. <a href="#"
                                    class="text-truncate-toggle" data-toggle="collapse" data-target="#readMoreText">
                                    Read more</a>
                            </p>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-arduino-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-opencv-plain-wordmark"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-c-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:75%;">
                                progress 75%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="project img d-flex justify-content-center align-items-center"
                    style="background-image: url(assets/projects/Password_manager.png);">
                    <div class="overlay"></div>
                    <div class="text text-center p-4">
                        <h3><a href="#">Password manager</a></h3>
                        <span>
                            <div class="row justify-content-center mt-3">
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-java-plain colored"></i>
                                </div>
                                <div class="col-md-3 col-4 text-center">
                                    <i style="font-size: 30px;" class="devicon-mysql-plain-wordmark"></i>
                                </div>
                            </div>
                        </span>
                        <div class="progress">
                            <div class="progress-bar" style="width:90%;">
                                progress 90%
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="ftco-section" id="say-section">

    <div class="container">
        <div class="row justify-content-center py-5 mt-5">
            <div class="col-md-12 heading-section text-center ftco-animate">
                <h1 class="big big-2" data-aos="fade-zoom-in" data-aos-offset="200" data-aos-easing="ease-in-out-quad"
                data-aos-duration="900">People say</h1>
                <h2 class="mb-4">What people say</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center d-flex ftco-animate">

                <div class="people-say desc d-flex flex-column align-items-center">

                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">
                        <h3><img src="assets/images/bernat-cto.jpeg" alt="">Bernat Relats</h3>
                        <h4>Founder & CTO at honei</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 text-center d-flex ftco-animate">

                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">
                        <h3><img src="assets/images/sergi-ceo.jpeg" alt="">
                            Sergi Borja</h3>
                        <h4>Founder & CTO at honei</h4>
                    </div>
                </div>

            </div>
            <div class="col-md-6 text-center d-flex ftco-animate">

                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">
                        <h3><img style="" src="assets/images/noemi-cpl.jpeg" alt="">Noemi Rivero</h3>
                        <h4>Admin Assistant at Salerm Cosmetics & Couple</h4>
                    </div>
                </div>

            </div>

            <div class="col-md-6 text-center d-flex ftco-animate">

                <div class="people-say desc d-flex flex-column align-items-center">
                    <div>
                        <p style="color: #fff !important;">
                            Es el puto amo, trabaja de miedo y se adapta a todo
                        </p>
                    </div>
                    <div class="people-say-name">

                        <h3><img src="" alt="">Jodie</h3>
                        <h4>Furry friend 🪽</h4>
                    </div>
                </div>

            </div>

        </div>
    </div>
</section>